* {
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
    font-weight: bolder;
    text-align: center;
}
.number {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
​
.number>div {
    text-align: center;
}
div.num {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 80px;
    height: 50px;
    
}